# Python
.venv/
venv/
**/__pycache__/
*.py[cod]

# ESPHome
**/.esphome/
builds/

# PlatformIO build files
**/.pioenvs/
**/.piolibdeps/

# Editors and operating systems
.vscode/
.DS_Store

# Local credentials
config/secrets.yaml
config/makerfabs-tft-v13-test copy.yaml
config/makerfabs-tft-v13-test.yaml
.gitignore
config/select_button.yaml
README.MAKERFABS-TFT-V13.md