# Python
.venv/
venv/
**/__pycache__/
*.py[cod]

# ESPHome
**/.esphome/
builds/

# PlatformIO build files
**/.pioenvs/
**/.piolibdeps/

# Editors and operating systems
.vscode/
.DS_Store

# Local credentials
config/secrets.yaml